<div class="col-md-4 offset-4 mt-4 border border-4 shadow-lg">
    <div class="head mt-4 text-center">
        <h2 class="text-success">Registration Form</h2>
    </div>

    <form class="mt-3" [formGroup]=crudForm>
        <div class="example-form text-center">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your name" formControlName="name" required>
                <!-- <mat-hint align="end"> Not a letter</mat-hint> -->
            </mat-form-field>
        </div>

        <div class="example-form text-center">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter valid email" formControlName="email" required>
            </mat-form-field>
            <!-- <span *ngIF="email.invalid && email.touched">Invalid email</span> -->
        </div>

        <div class="example-form text-center">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Contact</mat-label>
                <input matInput placeholder="Phone number" formControlName="contact" required>
            </mat-form-field>
        </div>

        <div class="example-form text-center">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="DOB" placeholder="Select your date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="example-form text-center">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter valid address" formControlName="address" required>
            </mat-form-field>
        </div>

        <div class="text-center mb-4 mx-5 mt-3">
            <button class="btn btn-danger btn-lg btn-block" (click)="sendData(crudForm.value)"
                [disabled]="crudForm.invalid">{{docID == null? 'Submit': 'Update'}}</button>
        </div>


    </form>

</div>