
.head{
    display: inline-block;
    border-bottom: 2px solid rgb(221, 148, 11);
    border-left: 20px;
    margin-left: 80px;
}

.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 80%;
  }
  
  